* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header starts */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a607c;
}
/* header logo starts */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo, .navbar a:hover {
    color: #d9dcd6;
}

/* header logo ends */

/* nav starts */
.navbar {
    /* padding-top: 15px; */
    margin-right: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    padding: 10px;

}
/* nav ends */
/* header ends */

/* main image starts*/
.hero {
    width: 100%;
    height: 100%;
    /* padding: 10px; */
}

.hero img {
    width: 100%;
}
/* main image ends*/

/* main starts*/
a { /* this is for any link inside*/
    color: #ffffff;
    text-decoration: none;
}

p { /* this is for any paragraph*/
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

article {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.features, .features-middle {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    display: flex;
}

.features img, .features-middle img {
    max-height: 100%;
    margin-right: 20px;
}

.features-middle {
    flex-direction: row-reverse;
}

.features-middle img {
    margin-left: 20px;
}

/* aside start*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* aside end*/
/* main end*/

/* footer semantic start*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
/* footer semantic end*/